<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <%- stylesheet_link_tag('jquery.mobile-1.2.0.min', 'jquery-ui-1.9.0.custom.min') %>
    <%- javascript_include_tag('jquery', 'app') %>
    <%- csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- body %>
</body>
</html>